{% extends 'todo_list/main.html' %} {% block content %}
<div class="header-bar">
  <h1>Register</h1>
  <a href="{% url 'tasks' %}">&#8592; Go Back</a>
</div>

<div class="card-body">
  <a href="{% url 'tasks' %}">Back</a>
  <form method="post">
    {% csrf_token %} {% csrf_token %}
    <label>{{form.username.label}}</label>
    {{form.username}}

    <label>{{form.password1.label}}</label>
    {{form.password1}}

    <label>{{form.password2.label}}</label>
    {{form.password2}}

    <input
      style="margin-top: 10px"
      class="button"
      type="submit"
      value="register"
    />
  </form>
  <p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>
</div>

{% endblock content %}
