{% if request.user.is_authenticated %}
<h2>hello {{ request.user }}</h2>
<h4>Not {{ request.user|title }} <a href="{% url 'logout' %}">Log Out</a></h4>
<h1>My Todo List</h1>
<h3><a href="{% url 'create-task' %}">Add task</a></h3>
<form method="GET">
  <input type="text" name="search-aria" placeholder="Search" value="{{search_input}}">
  <input type="submit" value="Search">
</form>

<table>
  <tr>
    <h3>In Progress: {{in_porgress_count}}</h3>
  {% for task in in_porgress %}
    <tr>
      <td><a href="{% url 'task' task.id %}">{{ task|title }}</a></td>
      <td><a href="{% url 'update-task' task.id %}"> Edit </a></td>
      <td><a href="{% url 'delete-task' task.id %}"> Delete </a></td>
    </tr>
    {% empty %}
    <h4>no tasks</h4>
  </tr>
  {% endfor %}
</table>
<table>
  <tr>
    <h3>Completed Tasks: {{completed_count}}</h3>
        {% for task in completed %}
          <tr>
            <td><a href="{% url 'task' task.id %}">{{ task|title }}</a></td>
            <td><a href="{% url 'delete-task' task.id %}"> Delete </a></td>
          </tr>
          {% empty %}
          <h4>no tasks</h4>
        {% endfor %}
  </tr>
</table>

{% else %}
<h2><a href="{% url 'login' %}">Log In</a></h2>
{% endif %}
